<pro-header ></pro-header>

<style>
    table tr th, table tr td { border:1px solid #ccc; height: 30px;line-height: 30px}
</style>


<!--引入list组件-->
<div class="ui-g" >
    <div class="ui-g-3" >
        <nz-card [nzBordered]="false">
            <div nz-row  [nzType]="'flex'" [nzJustify]="'start'" [nzGutter]="24">
                <div nz-col [nzSpan]="24" class="mb-md">
                    <div nz-form-item class="d-flex" >
                        <div nz-form-label><label>工作项</label></div>
                        <div style="margin-left: 1%; margin-top:-1%" nz-form-control class="flex-1">
                            <!--<nz-input [nzType]="'search'" [nzPlaceHolder]="'请选择工作项'" [(ngModel)]="search"    (nzOnSearch)="onSearch($event)"></nz-input>-->
                            <nz-select style="width: 240px; margin-left:5px; overflow: hidden;text-overflow:ellipsis; white-space:nowrap;"
                                       [(ngModel)]="workItmseach"
                                       name="workItmseach"
                                       (ngModelChange)="checkSelect(workItmseach)"
                                       (nzOpenChange)="openChange()"
                                       [nzSize]="'large'"
                                       [nzPlaceHolder]="'选择工作项'"
                                       nzId="workItmseach"
                                       [nzNotFoundContent]="'暂无内容'">
                                <nz-option  *ngFor="let i of workItem;" [nzLabel]="i.itemName" [nzValue]="i.guid"></nz-option>
                            </nz-select>
                        </div>
                    </div>
                </div>
            </div>
            <nz-collapseset *ngIf="active" nzAccordion  (nzActiveChange) = 'nzActive()'>
                <nz-collapse [nzTitle]="'工作项信息'" [nzActive]="true">
                    <div nz-row  [nzType]="'flex'" [nzJustify]="'start'" [nzGutter]="24">
                        <div nz-col [nzSpan]="24" class="mb-md">
                            <div  nz-form-item class="d-flex" style="font-size: 18px;">
                                <div class="ad-desc-list__term ng-star-inserted">名称:</div>
                                <div class="ad-desc-list__detail ng-star-inserted">{{workItemInfo.itemName}}</div>
                            </div>
                        </div>
                        <div nz-col [nzSpan]="24" class="mb-md">
                            <div  nz-form-item class="d-flex" style="font-size: 18px;">
                                <div class="ad-desc-list__term ng-star-inserted">需求编号:</div>
                                <div class="ad-desc-list__detail ng-star-inserted">{{workItemInfo.seqno}}</div>
                            </div>
                        </div>
                        <div nz-col [nzSpan]="24" class="mb-md">
                            <div  nz-form-item class="d-flex" style="font-size: 18px;">
                                <div class="ad-desc-list__term ng-star-inserted">负责人:</div>
                                <div class="ad-desc-list__detail ng-star-inserted">{{workItemInfo.owner}}</div>
                            </div>
                        </div>
                        <div nz-col [nzSpan]="24" class="mb-md">
                            <div  nz-form-item class="d-flex" style="font-size: 18px;">
                                <div class="ad-desc-list__term ng-star-inserted">收到需求时间:</div>
                                <div class="ad-desc-list__detail ng-star-inserted">{{workItemInfo.receiveTime | date:'yyyy-MM-dd'}}</div>
                            </div>
                        </div>
                        <div nz-col [nzSpan]="24" class="mb-md">
                            <div  nz-form-item class="d-flex" style="font-size: 18px;">
                                <div class="ad-desc-list__term ng-star-inserted">计划投产时间:</div>
                                <div class="ad-desc-list__detail ng-star-inserted">{{workItemInfo.deliveryPlanTime | date:'yyyy-MM-dd'}}</div>
                            </div>
                        </div>
                    </div>

                </nz-collapse>
                <nz-collapse [nzTitle]="'开发成员'" [nzActive]="false">
                    <div nz-row  [nzType]="'flex'" [nzJustify]="'start'" [nzGutter]="24">
                        <div  *ngFor="let b of workItemInfo.copyinfos"  nz-col [nzSpan]="24" class="mb-md">
                            <div class="ad-desc-list__detail ng-star-inserted" style="font-size: 18px;">{{b}}</div>
                        </div>
                    </div>

                </nz-collapse>
                <nz-collapse [nzTitle]="'开发分支'" [nzActive]="false">
                    <div nz-row  [nzType]="'flex'" [nzJustify]="'start'" [nzGutter]="24">
                        <div   nz-col [nzSpan]="24" class="mb-md">
                            <div  style="word-wrap: break-word;word-break: normal;font-size: 18px; " class="ad-desc-list__detail ng-star-inserted">{{branchDetail}}</div>
                        </div>
                    </div>
                </nz-collapse>
            </nz-collapseset>


            <div nz-row  *ngIf="active" style="margin-top: 3%;"  [nzType]="'flex'" [nzJustify]="'start'" [nzGutter]="24">
                <div  nz-col [nzSpan]="8" [nzOffset]="'8'" class="mb-md">
                    <button    nz-button  (click)="listreset()"  [nzLoading]="loading"  [nzType]="'primary'" [nzSize]="'large'">
                        <span>清单整理</span>
                    </button>
                </div>
            </div>

        </nz-card>
    </div>
    <div class="ui-g-9" >
        <nz-card *ngIf="selectApply"   [nzBordered]="false">
            <!--<form   nz-form (ngSubmit)="seach()" [nzLayout]="'inline'">
                <div nz-row  [nzType]="'flex'" [nzJustify]="'start'" [nzGutter]="24">
                    <div nz-col [nzSpan]="8" class="mb-md">
                        <div nz-form-item class="d-flex">
                            <div nz-form-label><label>开发人员</label></div>
                            <div nz-form-control class="flex-1">
                                <nz-input [(ngModel)]="mergeilsItem.developer" name="developer" [nzSize]="'large'" [nzPlaceHolder]="'开发人员'" nzId="developer"></nz-input>
                            </div>
                        </div>
                    </div>
                    <div nz-col [nzSpan]="8" class="mb-md">
                        <div nz-form-item class="d-flex">
                            <div nz-form-label><label>代码名称</label></div>
                            <div nz-form-control class="flex-1">
                                <nz-input [(ngModel)]="mergeilsItem.programName" name="programName" [nzSize]="'large'" [nzPlaceHolder]="'代码名称'" nzId="programName"></nz-input>
                            </div>
                        </div>
                    </div>
                    <div nz-col [nzSpan]="expandForm ? 24 : 8" class="mb-md" [class.text-right]="expandForm">
                        <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading"  [nzSize]="'large'">查询</button>
                        <button nz-button type="reset" (click)="getData()" [nzSize]="'large'" class="mx-sm">重置</button>
                        <a (click)="expandForm=!expandForm">
                            {{expandForm ? '收起' : '展开'}}
                            <i class="anticon" [class.anticon-down]="!expandForm" [class.anticon-up]="expandForm"></i>
                        </a>
                    </div>
                </div>
            </form>-->
            <div  style="margin: 2%  0px">
               <!-- <button  style="margin-right: 1%"   nz-button  (click)="Supplementary()"  [nzType]="'primary'" [nzSize]="'large'">
                    <i class="anticon anticon-plus"></i>
                    <span>补录清单</span>
                </button>-->
                <button  style="margin-right: 1%"   nz-button  (click)="Serve()"  [nzType]="'primary'" [nzSize]="'large'">
                    <!--<i class="{{s.icon}}"></i>-->
                    <span>投放</span>
                </button>
                <button  style="margin-right: 1%"  *ngIf="reset" nz-button  (click)="appendSave()"  [nzType]="'primary'" [nzSize]="'large'">
                    <span>追加到</span>
                </button>
            </div>
           <div>
               <p style="border-bottom: 1px solid #ccc; margin-bottom: 10px; font-size: 18px;"  *ngIf="reset">修改的清单</p>
               <nz-collapseset  nzAccordion   *ngIf="reset">
                   <nz-collapse *ngFor="let i of textcssList; let l1 = index" [nzTitle]="i.projectName" [nzActive]="true">
                       <div *ngFor="let s of i.deliveryPatchDetails; let l2 = index;">
                           <!--只有才config的时候 才会选择 其他都是默认显示-->
                           <div *ngIf="i.projectType ==='C' || i.projectType ==='I'" style="border: 1px solid #ccc;"  nz-col [nzSpan]="24" class="mb-md">
                               <div nz-col [nzSpan]="24" style="border: 1px solid #d2eafb; background-color: #ecf6fd;padding-top: 1rem;">
                                   <div  nz-col [nzSpan]="10" [nzOffset]="2"  nz-form-item class="d-flex">
                                       <div nz-form-label><label>导出为</label></div>
                                       <div style="margin-left: 5px;" class="ad-desc-list__detail ng-star-inserted">{{s.patchType}}</div>
                                   </div>
                                   <div nz-col [nzSpan]="9" [nzOffset]="3" nz-form-item class="d-flex">
                                       <div nz-form-label><label>部署到</label></div>
                                       <div style="margin-left: 5px;" class="ad-desc-list__detail ng-star-inserted">{{s.deployWhere}}</div>
                                   </div>
                               </div>
                               <div nz-col [nzSpan]="24" nz-form-item class="d-flex" style="margin-top:-1rem">
                                   <app-list  style="margin-top:20px;width: 100%"  #child
                                              [parsentList]="s"
                                              [isShowTotal]="isShowTotal"
                                              [parsentbool]="true"
                                              [initDate]="s.fileList"
                                              [showAdd]="showAdd"
                                              [buttons] ='buttons'
                                              (addCreat)="addHandler($event)"
                                              (buttonData)="buttonDataHandler($event)"
                                              (pageNumber)="monitorHandler($event)"
                                              (deleatData)="deleatData($event)"
                                              [isPagination]="isPagination"
                                              (isActive)="isActive($event)"
                                              (buttonEvent)="buttonEvent($event)"
                                              (selectedRow)="selectedRow($event)"
                                              [headerDate]="i.headerData"
                                              [moreData]="moreData"
                                              [isShowTotalhead]='isShowTotalhead'
                                   ></app-list>
                               </div>

                           </div>
                           <div nz-col [nzSpan]="24"  *ngIf="i.projectType ==='S' || i.projectType ==='D'" class="mb-md">
                               <app-list  style="margin-top:20px;"  #child
                                          [parsentList]="s"
                                          [isShowTotal]="isShowTotal"
                                          [parsentbool]="true"
                                          [initDate]="s.fileList"
                                          [showAdd]="showAdd"
                                          [buttons] ='buttons'
                                          (addCreat)="addHandler($event)"
                                          (buttonData)="buttonDataHandler($event)"
                                          (pageNumber)="monitorHandler($event)"
                                          (deleatData)="deleatData($event)"
                                          [isPagination]="isPagination"
                                          (isActive)="isActive($event)"
                                          (buttonEvent)="buttonEvent($event)"
                                          (selectedRow)="selectedRow($event)"
                                          [headerDate]="i.headerData"
                                          [moreData]="moreData"
                                          [isShowTotalhead]='isShowTotalhead'
                               ></app-list>
                           </div>
                       </div>
                   </nz-collapse>
               </nz-collapseset>
           </div>

            <div style="margin-top:50px;" *ngIf="stashList">
                <p style="border-bottom: 1px solid #ccc; margin-bottom: 10px; font-size: 18px;" *ngIf="reset">修改未提交的清单</p>
                <nz-collapseset   nzAccordion  *ngIf="reset">
                    <nz-collapse  *ngFor="let i of stashList; let l2 = index" [nzTitle]="i.projectName" [nzActive]="true">
                        <div *ngFor="let s of i.deliveryPatchDetails; let l2 = index;">
                            <!--只有才config的时候 才会选择 其他都是默认显示-->
                            <div *ngIf="i.projectType ==='C' || i.projectType ==='I'" style="border: 1px solid #ccc;"  nz-col [nzSpan]="24" class="mb-md">
                                <div nz-col [nzSpan]="24" style="border: 1px solid #d2eafb; background-color: #ecf6fd;padding-top: 1rem;">
                                    <div  nz-col [nzSpan]="10" [nzOffset]="2"  nz-form-item class="d-flex">
                                        <div nz-form-label><label>导出为</label></div>
                                        <div style="margin-left: 5px; margin-top: 1px;" class="ad-desc-list__detail ng-star-inserted">{{s.patchType}}</div>
                                    </div>
                                    <div nz-col [nzSpan]="9" [nzOffset]="3" nz-form-item class="d-flex">
                                        <div nz-form-label><label>部署到</label></div>
                                        <div style="margin-left: 5px; margin-top: 1px;" class="ad-desc-list__detail ng-star-inserted">{{s.deployWhere}}</div>
                                    </div>
                                </div>
                                <div nz-col [nzSpan]="24" nz-form-item class="d-flex" style="margin-top:-1rem">
                                    <app-list  style="margin-top:20px;width: 100%"  #child
                                               [parsentList]="s"
                                               [isShowTotal]="isShowTotal"
                                               [parsentbool]="true"
                                               [initDate]="s.fileList"
                                               [showAdd]="showAdd"
                                               [buttons] ='buttons'
                                               (addCreat)="addHandler($event)"
                                               (buttonData)="buttonDataHandler($event)"
                                               (pageNumber)="monitorHandler($event)"
                                               (deleatData)="deleatData($event)"
                                               [isPagination]="isPagination"
                                               (isActive)="isActive($event)"
                                               (buttonEvent)="buttonEvent($event)"
                                               (selectedRow)="selectedRow($event)"
                                               [headerDate]="i.headerData"
                                               [moreData]="moreData"
                                               [isShowTotalhead]='isShowTotalhead'
                                    ></app-list>
                                </div>

                            </div>
                            <div nz-col [nzSpan]="24"  *ngIf="i.projectType ==='S' || i.projectType ==='D'" class="mb-md">
                                <app-list  style="margin-top:20px;"  #child
                                           [parsentList]="s"
                                           [isShowTotal]="isShowTotal"
                                           [parsentbool]="true"
                                           [initDate]="s.fileList"
                                           [showAdd]="showAdd"
                                           [buttons] ='buttons'
                                           (addCreat)="addHandler($event)"
                                           (buttonData)="buttonDataHandler($event)"
                                           (pageNumber)="monitorHandler($event)"
                                           (deleatData)="deleatData($event)"
                                           [isPagination]="isPagination"
                                           (isActive)="isActive($event)"
                                           (buttonEvent)="buttonEvent($event)"
                                           (selectedRow)="selectedRow($event)"
                                           [headerDate]="i.headerData"
                                           [moreData]="moreData"
                                           [isShowTotalhead]='isShowTotalhead'
                                ></app-list>
                            </div>
                        </div>
                    </nz-collapse>
                </nz-collapseset>
            </div>

        </nz-card>
    </div>
</div>



<!-- 投放申请-->
<nz-modal [nzVisible]="modalVisible"  [nzWidth]="1024" [nzTitle]="'投放申请 请指定投放日期和环境'"   [nzContent]="dictModal"
          (nzOnCancel)="modalVisible=false" (nzOnOk)="save()">
    <ng-template #dictModal>
        <div nz-row [nzType]="'flex'" [nzJustify]="'start'" [nzGutter]="24">
            <div nz-col [nzSpan]="24" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label for="itemType">投放到:</label></div>
                    <div nz-form-control class="flex-1">
                        <div nz-col [nzSpan]="24" class="mb-md" *ngFor="let s of elementScice ;let l = index">
                            <div nz-col [nzSpan]="7">
                                <label  nz-checkbox  [(ngModel)]="s.check" [nzDisabled]="s.disabled" >&nbsp;&nbsp;<span>{{s.profilesName}}</span></label>
                            </div>
                            <div nz-col [nzSpan]="4">
                                <nz-datepicker
                                    [(ngModel)]="s.deliveryTime"
                                    [nzDisabled]="!s.check"
                                    [nzFormat]="'YYYY-MM-DD'"
                                    [nzSize]="'large'"
                                    [nzPlaceHolder]="'选择时间'"
                                    (ngModelChange)="onChange(s.deliveryTime, s)"
                                    class="d-block">
                                </nz-datepicker>
                            </div>
                            <div nz-col [nzSpan]="9">
                                   <div nz-col [nzSpan]="6" *ngFor="let t of s.packTimeDetails; let d = index" >
                                    <!--   <input style="margin-top: 10px;"  [disabled]="!s.check || t.isOptions ==='N'"   [(ngModel)]="s.times"   [value]="t.packTime"   [name]="s.profilesName"
                                              type="radio" />&nbsp;{{t.packTime}}-->
                                       <nz-radio-group [(ngModel)]="s.times">
                                           <label  [nzDisabled]="!s.check || t.isOptions ==='N'" nz-radio [nzValue]="t.packTime">
                                               <span>{{t.packTime}}</span>
                                           </label>
                                       </nz-radio-group>
                                   </div>
                            </div>
                            <div nz-col [nzSpan]="4">
                                <nz-input [(ngModel)]="s.deliveryName" name="deliveryName"  [disabled]="!s.check" [nzSize]="'large'" [nzPlaceHolder]="'投放代号'" nzId="deliveryName"></nz-input>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</nz-modal>



<nz-modal [nzVisible]="infoVisible"  [nzWidth]="1400" [nzTitle]="'工作项投放申请'"   [nzContent]="infoModal"
          (nzOnCancel)="infoVisible=false" (nzOnOk)="subSave()">
    <ng-template #infoModal>
        <div nz-row [nzType]="'flex'" [nzJustify]="'start'" [nzGutter]="24">
                <div nz-col [nzSpan]="24" class="mb-md">
                    <div class="ad-desc-list__term ng-star-inserted">投放计划:</div>
            </div>
            <div nz-col [nzSpan]="20"   *ngFor="let i of copysplicingObj.dliveryAddRequest.profiles"    class="mb-md">
                <div nz-col [nzSpan]="6"  nz-form-item class="d-flex">
                    <div>{{copysplicingObj.dliveryAddRequest.deliveryTime}}&nbsp;&nbsp;{{i.packTiming}}</div>
                </div>
                <div nz-col [nzSpan]="3"  nz-form-item class="d-flex">
                    <div>{{i.profilesName}}</div>
                </div>
                <div nz-col [nzSpan]="3"  nz-form-item class="d-flex">
                    <div>{{i.name}}</div>
                </div>
            </div>


            <div nz-col [nzSpan]="24" class="mb-md">
                <div  nz-form-item class="d-flex">
                    <div class="ad-desc-list__term ng-star-inserted">工作项:</div>
                    <div class="ad-desc-list__detail ng-star-inserted">{{copysplicingObj.itemName}}</div>
                </div>
            </div>

            <div nz-col [nzSpan]="8" class="mb-md">
                <div  nz-form-item class="d-flex">
                    <div class="ad-desc-list__term ng-star-inserted">申请人:</div>
                    <div class="ad-desc-list__detail ng-star-inserted">{{copysplicingObj.userName}}</div>
                </div>
            </div>
            <div nz-col [nzSpan]="24" class="mb-md">
                <div  nz-form-item class="d-flex">
                    <div class="ad-desc-list__term ng-star-inserted">开发分支:</div>
                    <div class="ad-desc-list__detail ng-star-inserted">{{copysplicingObj.branchDetail}}</div>
                </div>
            </div>
            <div nz-col [nzSpan]="24" class="mb-md">
                    <div nz-col [nzSpan]="24"  class="ad-desc-list__term ng-star-inserted">投放小计:</div>
                    <div nz-col [nzSpan]="20" [nzOffset]="3" *ngFor="let t of calculatedArray" class="ad-desc-list__detail ng-star-inserted">{{t.key}}包数 :{{t.value}}个</div>


            </div>
            <div nz-col [nzSpan]="24" class="mb-md">
                <div  nz-form-item class="d-flex">
                    <div class="ad-desc-list__term ng-star-inserted">投放明细:</div>
                </div>
            </div>
            <!-- 列表 -->
            <div  nz-col [nzSpan]="24" class="mb-md" *ngFor="let d of copytextList" >
                <ng-container *ngIf = "d.projectType === 'C' || d.projectType === 'I'">
                    <ng-container *ngFor="let t of d.deliveryPatchDetails">
                        <table style="margin:30px 0px;"  *ngIf="t.fileList.length > 0">
                            <tbody nz-col [nzSpan]="24" style="text-align: center;" >
                            <tr nz-col [nzSpan]="24">
                                <td nz-col [nzSpan]="8">工程名</td>
                                <td nz-col [nzSpan]="16">{{d.projectName}}</td>
                            </tr>
                            <tr nz-col [nzSpan]="24">
                                <td nz-col [nzSpan]="8">编译为</td>
                                <td nz-col [nzSpan]="16">{{t.deployWhere}}</td>
                            </tr>
                            <tr nz-col [nzSpan]="24">
                                <td nz-col [nzSpan]="8">部署到</td>
                                <td nz-col [nzSpan]="16">{{t.patchType}}</td>
                            </tr>
                            <tr nz-col [nzSpan]="24">
                                <td nz-col [nzSpan]="15">代码</td>
                                <td nz-col [nzSpan]="3">变动类型</td>
                                <td nz-col [nzSpan]="3">最新版本</td>
                                <td nz-col [nzSpan]="3">开发人员</td>
                            </tr>
                            <tr nz-col [nzSpan]="24"  *ngFor="let s of t.fileList">
                                <td style="text-overflow: ellipsis; overflow: hidden;white-space: nowrap" nz-col [nzSpan]="15">{{s.fullName}}</td>
                                <td nz-col [nzSpan]="3"> {{s.commitType}}</td>
                                <td nz-col [nzSpan]="3">{{s.deliveryVersion}}</td>
                                <td nz-col [nzSpan]="3">{{s.author}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf = "d.projectType === 'S' || d.projectType === 'D'">
                    <ng-container *ngFor="let a of d.groupArray; let i = index">
                        <table style="margin:30px 0px;">
                            <tbody nz-col [nzSpan]="24" style="text-align: center;" >
                            <tr nz-col [nzSpan]="24">
                                <td nz-col [nzSpan]="8">工程名1</td>
                                <td nz-col [nzSpan]="16">{{d.projectName}}</td>
                            </tr>
                            <tr nz-col [nzSpan]="24">
                                <td nz-col [nzSpan]="8">编译为</td>
                                <td nz-col [nzSpan]="16">{{a[0].deploySelect}}</td>
                            </tr>
                            <tr nz-col [nzSpan]="24">
                                <td nz-col [nzSpan]="8">部署到</td>
                                <td nz-col [nzSpan]="16">{{a[0].patchSelect}}</td>
                            </tr>
                            <tr nz-col [nzSpan]="24">
                                <td nz-col [nzSpan]="15">代码</td>
                                <td nz-col [nzSpan]="3">变动类型</td>
                                <td nz-col [nzSpan]="3">最新版本</td>
                                <td nz-col [nzSpan]="3">开发人员</td>
                            </tr>
                            <tr nz-col [nzSpan]="24"  *ngFor="let s of a">
                                <td style="text-overflow: ellipsis; overflow: hidden;white-space: nowrap" nz-col [nzSpan]="15">{{s.fullName}}</td>
                                <td nz-col [nzSpan]="3"> {{s.commitType}}</td>
                                <td nz-col [nzSpan]="3">{{s.deliveryVersion}}</td>
                                <td nz-col [nzSpan]="3">{{s.author}}</td>
                            </tr>
                            </tbody>
                        </table>

                    </ng-container>
                </ng-container>
            </div>

        </div>
    </ng-template>
</nz-modal>


<nz-modal [nzVisible]="appendVisible"  [nzWidth]="1024" [nzTitle]="'请选择追加到那个投放申请'"   [nzContent]="appendModal"
          (nzOnCancel)="appendVisible=false" (nzOnOk)="appendsave()">
    <ng-template #appendModal>
        <div nz-row [nzType]="'flex'" [nzJustify]="'start'" [nzGutter]="24">
            <div nz-col [nzSpan]="24" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-control class="flex-1">
                        <div nz-col [nzSpan]="24" class="mb-md">
                            <div nz-col [nzSpan]="6">
                                工作项名称
                            </div>
                            <div nz-col [nzSpan]="18">
                                <div nz-col [nzSpan]="6" >
                                    申请别名
                                </div>
                                <div nz-col [nzSpan]="6">
                                    投放时间
                                </div>
                                <div nz-col [nzSpan]="6">
                                    环境@窗口
                                </div>
                            </div>
                        </div>
                        <div nz-col [nzSpan]="24" class="mb-md" *ngFor="let s of appendSelect ;let l = index">
                            <div nz-col [nzSpan]="6">
                                <label  nz-checkbox  [(ngModel)]="s.check">&nbsp;&nbsp;<span>{{s.guidWorkitem.target}}</span></label>
                            </div>
                            <div nz-col [nzSpan]="18">
                                <div nz-col [nzSpan]="6" >
                                    {{s.applyAlias}}
                                </div>
                                <div nz-col [nzSpan]="6">
                                    {{ s.deliveryTime | date:'yyyy-MM-dd'}}
                                </div>
                                <div nz-col [nzSpan]="6">
                                    {{s.guidProfiles.target}} & {{s.packTiming}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</nz-modal>


<!--成功之后的界面完整修改-->
<nz-modal [nzVisible]="launchVisible"  [nzWidth]="1400" [nzTitle]="'工作项投放申请'"   [nzContent]="lanunModal"
          (nzOnCancel)="launchVisible=false" (nzOnOk)="launchVisible=false">
    <ng-template #lanunModal>
        <div nz-row [nzType]="'flex'" [nzJustify]="'start'" [nzGutter]="24">
            <!--重做-->
            <div nz-col [nzSpan]="24" class="mb-md" style="text-align: center;margin-top:10px;">
                <img style="width: 70px;" src="./assets/img/success.svg" alt="">
            </div>

            <div nz-col [nzSpan]="24" class="mb-md" style="text-align: center">
               <h2>{{appendTitle}}</h2>
            </div>

            <div nz-col [nzSpan]="24" class="mb-md" style="text-align: center">
                <div nz-col [nzSpan]="12"  [nzOffset]="6" class="mb-md">
                    <div style="border: 1px solid #000000; display: block; line-height: 50px; height: 50px;">
                        本次投放明细如下
                    </div>
                    <div nz-col [nzSpan]="24" style="border:1px solid #cccccc;" >
                        <div style="margin: 20px 0px;" nz-col [nzSpan]="24">
                            <div nz-col [nzSpan]="5">工作项名称</div>
                            <div nz-col [nzSpan]="6">工作项别名</div>
                            <div nz-col [nzSpan]="4">投放时间</div>
                            <div nz-col [nzSpan]="7">打包窗口即环境</div>
                        </div>

                        <div  nz-col [nzSpan]="24" *ngFor = 'let i of detailInfo' style="margin:10px 0px;">
                            <div nz-col [nzSpan]="5">{{i.guidWorkitem.target}}</div>
                            <div nz-col [nzSpan]="6">{{i.applyAlias}}</div>
                            <div nz-col [nzSpan]="4">{{i.deliveryTime  | date:'yyyy-MM-dd'}}</div>
                            <div nz-col [nzSpan]="7">{{i.guidProfiles.target}}@{{i.packTiming}}</div>
                        </div>

                    </div>
                </div>
            </div>

          <!--  <div nz-col [nzSpan]="22" [nzOffset]="2" class="mb-md">
                <div  nz-form-item class="d-flex">
                    <div class="ad-desc-list__term ng-star-inserted">投放明细:</div>
                </div>
            </div>
            &lt;!&ndash; 列表 &ndash;&gt;
            <div  nz-col [nzSpan]="24" class="mb-md" *ngFor="let s of detailInfo ; let l = index">
                <div *ngFor="let j of s.deliveryPatchDetails">
                    <div>
                        <table style="margin:30px 0px;" >
                            <tbody nz-col [nzSpan]="24" style="text-align: center;" >
                            <tr nz-col [nzSpan]="24">
                                <td nz-col [nzSpan]="8">工程名</td>
                                <td nz-col [nzSpan]="16">{{s.projectName}}</td>
                            </tr>
                            <tr nz-col [nzSpan]="24">
                                <td nz-col [nzSpan]="8">导出为</td>
                                <td nz-col [nzSpan]="16">{{j.patchType }}</td>
                            </tr>
                            <tr nz-col [nzSpan]="24">
                                <td nz-col [nzSpan]="8">部署到</td>
                                <td nz-col [nzSpan]="16">{{j.deployWhere}}</td>
                            </tr>
                            <tr nz-col [nzSpan]="24">
                                <td nz-col [nzSpan]="15">代码</td>
                                <td nz-col [nzSpan]="3">变动类型</td>
                                <td nz-col [nzSpan]="3">最新版本</td>
                                <td nz-col [nzSpan]="3">开发人员</td>
                            </tr>
                            <tr nz-col [nzSpan]="24"  *ngFor="let k of j.fileList">
                                <td nz-col [nzSpan]="15">{{k.fullPath}}</td>
                                <td nz-col [nzSpan]="3">{{k.commitType}}</td>
                                <td nz-col [nzSpan]="3">{{k.deliveryVersion}}</td>
                                <td nz-col [nzSpan]="3">{{k.author}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>



            </div>-->
          <!--  <div  nz-col [nzSpan]="24" class="mb-md" *ngFor="let d of copytextList" >
                <ng-container *ngIf = "d.projectType === 'C'">
                    <ng-container *ngFor="let t of d.deliveryPatchDetails">
                        <table style="margin:30px 0px;"  *ngIf="t.fileList.length > 0">
                            <tbody nz-col [nzSpan]="24" style="text-align: center;" >
                            <tr nz-col [nzSpan]="24">
                                <td nz-col [nzSpan]="8">工程名</td>
                                <td nz-col [nzSpan]="16">{{d.projectName}}</td>
                            </tr>
                            <tr nz-col [nzSpan]="24">
                                <td nz-col [nzSpan]="8">编译为</td>
                                <td nz-col [nzSpan]="16">{{t.deployWhere}}</td>
                            </tr>
                            <tr nz-col [nzSpan]="24">
                                <td nz-col [nzSpan]="8">部署到</td>
                                <td nz-col [nzSpan]="16">{{t.patchType}}</td>
                            </tr>
                            <tr nz-col [nzSpan]="24">
                                <td nz-col [nzSpan]="15">代码</td>
                                <td nz-col [nzSpan]="3">变动类型</td>
                                <td nz-col [nzSpan]="3">最新版本</td>
                                <td nz-col [nzSpan]="3">开发人员</td>
                            </tr>
                            <tr nz-col [nzSpan]="24"  *ngFor="let s of t.fileList">
                                <td style="text-overflow: ellipsis; overflow: hidden;white-space: nowrap" nz-col [nzSpan]="15">{{s.fullName}}</td>
                                <td nz-col [nzSpan]="3"> {{s.commitType}}</td>
                                <td nz-col [nzSpan]="3">{{s.deliveryVersion}}</td>
                                <td nz-col [nzSpan]="3">{{s.author}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf = "d.projectType === 'S' || d.projectType === 'D'">
                    <ng-container *ngFor="let a of d.groupArray; let i = index">
                        <table style="margin:30px 0px;">
                            <tbody nz-col [nzSpan]="24" style="text-align: center;" >
                            <tr nz-col [nzSpan]="24">
                                <td nz-col [nzSpan]="8">工程名1</td>
                                <td nz-col [nzSpan]="16">{{d.projectName}}</td>
                            </tr>
                            <tr nz-col [nzSpan]="24">
                                <td nz-col [nzSpan]="8">编译为</td>
                                <td nz-col [nzSpan]="16">{{a[0].deploySelect}}</td>
                            </tr>
                            <tr nz-col [nzSpan]="24">
                                <td nz-col [nzSpan]="8">部署到</td>
                                <td nz-col [nzSpan]="16">{{a[0].patchSelect}}</td>
                            </tr>
                            <tr nz-col [nzSpan]="24">
                                <td nz-col [nzSpan]="15">代码</td>
                                <td nz-col [nzSpan]="3">变动类型</td>
                                <td nz-col [nzSpan]="3">最新版本</td>
                                <td nz-col [nzSpan]="3">开发人员</td>
                            </tr>
                            <tr nz-col [nzSpan]="24"  *ngFor="let s of a">
                                <td style="text-overflow: ellipsis; overflow: hidden;white-space: nowrap" nz-col [nzSpan]="15">{{s.fullName}}</td>
                                <td nz-col [nzSpan]="3"> {{s.commitType}}</td>
                                <td nz-col [nzSpan]="3">{{s.deliveryVersion}}</td>
                                <td nz-col [nzSpan]="3">{{s.author}}</td>
                            </tr>
                            </tbody>
                        </table>

                    </ng-container>
                </ng-container>
            </div>
-->
        </div>
    </ng-template>
</nz-modal>
