 <!--  列表组件 -->
<div class="mb-md">
      <div *ngIf="isShowTotal == true">
          <button  *ngFor="let s of buttons;let l = index" style="margin-right: 1%"   nz-button  (click)="add(s.key)"  [nzType]="'primary'" [nzSize]="'large'">
              <!--<i class="{{s.icon}}"></i>-->
              <span>{{s.value}}</span>
          </button>
      </div>




    <button *ngIf="selectedRows.length >0 && !showAdd" nz-button (click)="remove()" style="margin-left: 10px;" [nzType]="'danger'" [nzSize]="'large'">
        <i class="anticon anticon-minus"></i>
        <span>删除</span>
    </button>

    <!--必须选中一个的时候，即数组长度大于-的时候，才会显示这一块内容，否则不显示-->
    <ng-container *ngIf="selectedRows.length == 1 && moreData.morebutton && !showAdd">
        <!--<button nz-button [nzSize]="'large'" class="ml-sm">批量操作</button>-->
        <nz-dropdown [nzPlacement]="'bottomLeft'">
            <button nz-button nz-dropdown [nzSize]="'large'" class="ml-sm">
                更多操作 <i class="anticon anticon-down"></i>
            </button>
            <ul nz-menu>
                <li *ngFor="let b of moreData.buttons" ng-if=""  nz-menu-item (click)="moreclick(b.key)">{{b.value}}</li>
            </ul>
        </nz-dropdown>
    </ng-container>

</div>
<!-- 头部标题 -->
<div class="mb-md" *ngIf="isShowTotalhead == true">
    <nz-alert [nzType]="'info'" [nzShowIcon]="true">
        <span alert-body>
            已选择
            <strong class="text-primary">{{selectedRows.length}}</strong> 项&nbsp;&nbsp;
            总计 <strong>{{total}}</strong> 个
            <a *ngIf="selectedRows.length  > 0" (click)="clear()" class="ml-lg">清空</a>
        </span>
    </nz-alert>
</div>

<!-- 如果是异步的列表，必须使用nzAjaxData的-->
<nz-table #nzTable [nzAjaxData]="initDate" [nzTotal]="pageTotal"
          [nzPageSize]="q.ps" [nzLoading]="loading"
          [nzIsPagination]="isPagination"
          (nzPageIndexChange)="pageChange($event)"
          [nzPageIndex]='pageindex'>
    <thead nz-thead>
    <tr>
        <th nz-th [nzCheckbox]="true" *ngIf="isShowTotal == true">
            <label  nz-checkbox [(ngModel)]="allChecked"
                   [nzIndeterminate]="indeterminate"
                   (ngModelChange)="checkAll($event)">
            </label >
        </th>
        <th *ngFor="let d of headerDate" nz-th>
            <span>{{d.value}}</span>
        </th>
        <th nz-th>
            <span>操作</span>
        </th>
    </tr>
    </thead>
    <tbody nz-tbody>
    <!--意思是 data数据要根据表头的顺序来排列？-->
    <tr nz-tbody-tr *ngFor="let i of nzTable.data;let l = index">
        <td nz-td [nzCheckbox]="true" *ngIf="isShowTotal == true">
            <label nz-checkbox [nzDisabled]="i.disabled" [(ngModel)]="i.checked"  (ngModelChange)="refreshStatus($event)">
            </label>
        </td>
        <!--1、循环td，只需要循环表头，然后根据表头的索引从后台返回的数组中找就行了，找到对应索引的对应key即可，前提是表头的key必须和数组的key一致，否则会找不到
            2、加上一个span，在span里面加上一个点击事件，表头加上一个属性，是否可以点击跳转，true的时候就可以完成点击跳转
        -->
        <td *ngFor="let d of headerDate;let s = index">
            
            <!-- 利用ngClass 来完成是否可以点击跳转等行为 -->
            <span title="{{d.title ? i.itemName : ''}}" *ngIf="!d.radio && !d.switch" [ngClass]="{'active': d.isclick, 'noactive': !d.isclick}" class="active" (click)="isClick(d,i)">{{initDate[l][d.key]}}</span>
            <!--还是要写方法，因为不一定是路由跳转还有可能弹出框以及其他的交易，所以写一个方法吧
            <a *ngIf="d.isclick"  [routerLink]="['/APPlication']"  [queryParams]="data[l]">{{data[l][d.key]}}</a>-->

            <span *ngIf="d.radio">
                <!--因为ngIf和ngFor不能在同一行中使用，所以要分行来用，为什么不用div而是用ng-container，是因为div受样式或者说全局样式干扰，<ng-container>是不受任何干扰的。-->
               <ng-container *ngIf = "d.type == 'deployArray' && initDate[l].isshow == true && i.checked">
                   <nz-select
                            style="width: 150px;"
                           nzAllowClear
                           [nzPlaceHolder]="'部署为'"
                           [(ngModel)]="initDate[l].deploySelect"
                            [nzNotFoundContent]="'暂无数据'"
                           nzShowSearch>
                          <nz-option
                              *ngFor="let t of initDate[l].deployArray"
                              [nzLabel]="t.label"
                              [nzValue]="t.value">
                          </nz-option>
                    </nz-select>
               </ng-container>
                <ng-container *ngIf="d.type !== 'deployArray'" >
                    <nz-select
                        style="width: 150px;"
                        nzAllowClear
                        [nzPlaceHolder]="'导出为'"
                        [(ngModel)]="initDate[l].patchSelect"
                        (ngModelChange)="onChanges(initDate[l].patchSelect, initDate[l].depolyJsonArray,initDate[l].deployArray, initDate[l])"
                        nzShowSearch>
                          <nz-option
                              *ngFor="let t of initDate[l].patchArray"
                              [nzLabel]="t.label"
                              [nzValue]="t.value">
                          </nz-option>
                    </nz-select>
               </ng-container>
            </span>

            <span *ngIf="d.switch">

                 <!--<nz-switch [ngModel]="i.isAllowDelivery" nzLoading (ngModelChange)="status(i,$event)">
                        <span checked>是</span>
                        <span unchecked>否</span>
                 </nz-switch>-->
                 <!--<button *ngIf='i.isAllowDelivery' (ngModelChange)="status(i,true)">是</button>-->
                 <button *ngIf='i.isAllowDelivery'  nz-button [nzType]="'primary'" [nzLoading]='i.switch' (click)="status(i,false)">
                    <span>是</span>
                    </button>
                     <button *ngIf='!i.isAllowDelivery'  nz-button [nzType]="'danger'"  [nzLoading]='i.switch' (click)="status(i,true)">
                    <span>否</span>
                    </button>
                   <!--<button *ngIf='!i.isAllowDelivery' (ngModelChange)="status(i,false)">否</button>-->
                  <!--<nz-switch [ngModel]="i.isAllowDelivery" nzLoading nzCheckedChildren="开" nzUnCheckedChildren="关" (ngModelChange)="status(i,$event)"></nz-switch>-->
            </span>
        </td>

        <td nz-td>
            <!--<a *ngIf="!showAdd" style="color:#108ee9;" (click)="add(i)">修改</a>&nbsp;-->
            <!--查看日志详情页面-->
            <!--<a *ngIf="showAdd" style="color:#108ee9;" (click)="add(i)">{{configTitle}}</a>&nbsp;-->
            <a *ngFor="let c of i.buttonData" style="color:#108ee9;" (click)="buttonClick(i, c, l)">
                   {{c.value}} &nbsp;
                </a>
        </td>
    </tr>
      <tr nz-tbody-tr *ngIf="data.expand">
            <td nz-td></td>
            <td nz-td colspan="4">
              {{data.description}}
            </td>
      </tr>
    </tbody>
</nz-table>
