<!-- 样式-->
<style>
    table tr th, table tr td { border:1px solid #ccc; height: 30px;line-height: 30px}
</style>

<pro-header></pro-header>

<!--引入list组件-->
<nz-card [nzBordered]="false">
    <!--  form表单搜索 -->


    <app-list #child [initDate]="data" [configTitle]="configTitle" [showAdd]="showAdd" [isPagination]="isPagination"  [buttons] ='buttons' (addCreat)="addHandler($event)" (buttonData)="buttonDataHandler($event)" (pageNumber)="monitorHandler($event)"
              (deleatData)="deleatData($event)" (isActive)="isActive($event)" (buttonEvent)="buttonEvent($event)" (selectedRow)="selectedRow($event)" [headerDate]="headerDate"
              [moreData]="moreData" [isShowTotalhead]="isShowTotalhead" [total]="total" [pageTotal] = 'pageTotal'  [pageindex]='pageIndex'></app-list>
</nz-card>



 <!--核对详情-->
<nz-modal [nzVisible]="detailVisible" [nzMaskClosable]="false" [nzWidth]="1124" [nzTitle]="'核对详情'"   [nzContent]="modals"
          (nzOnCancel)="detailVisible=false"  (nzOnOk)="returnsclick(2,guid)" [nzFooter]="foor" nzZIndex=800>
    <ng-template #modals>
        <nz-card [nzBordered]="false">
            <div nz-row [nzGutter]="24">
                 <app-mergelist  #child
                            [iStouchan]="iStouchanRecord"
                            [guid]="guid"
                            [istextVisible]="istextVisible"
                            (checkSave)="checkSave($event)"
                            [guidprent]="guidprent"
                            (buttonClick)="buttonClick($event)"
                            (mergeClick)="mergeClick($event)"
                            (returnsclick)="returnsclick($event)"
                            [mergeListData]="mergeListData"
                            [checkModalData]='checkModalData'
                            [checkloading]='checkloading'
                            [deliveryResult]='deliveryResults'
                            [checkStatus]='checkStatus'
                            [title]='title'
                           
            >
            </app-mergelist>
            </div>
        </nz-card>
    </ng-template>
    <ng-template #foor>

    </ng-template>
</nz-modal>


