<!-- 样式-->
<style>
    table tr th, table tr td { border:1px solid #ccc; height: 30px;line-height: 30px}
</style>

<pro-header></pro-header>

<!--引入list组件-->
<nz-card [nzBordered]="false">
    <!--  form表单搜索 -->
    <form nz-form (ngSubmit)="search()" [nzLayout]="'inline'">
        <div nz-row  [nzType]="'flex'" [nzJustify]="'start'" [nzGutter]="24">
            <div nz-col [nzSpan]="8" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label>工作项</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="deliverItem.guidWorkitem" name="guidWorkitem" [nzSize]="'large'" [nzPlaceHolder]="'工作项id'" nzId="guidWorkitem"></nz-input>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="8" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label>申请人</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="deliverItem.proposer" name="proposer" [nzSize]="'large'" [nzPlaceHolder]="'申请人'" nzId="proposer"></nz-input>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="8" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label>投放结果</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-select style="width:100%" [(ngModel)]="deliverItem.deliveryResult"  name="deliveryResult" [nzSize]="'large'" [nzPlaceHolder]="'投放结果'" nzId="deliveryResult">
                            <nz-option  *ngFor="let i of deliveryResult;" [nzLabel]="i.value" [nzValue]="i.key"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="expandForm ? 24 : 8" class="mb-md" [class.text-right]="expandForm">
                <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading" [nzSize]="'large'">查询</button>
                <button nz-button type="reset" (click)="getData()" [nzSize]="'large'" class="mx-sm">重置</button>
                <a (click)="expandForm=!expandForm">
                    {{expandForm ? '收起' : '展开'}}
                    <i class="anticon" [class.anticon-down]="!expandForm" [class.anticon-up]="expandForm"></i>
                </a>
            </div>
        </div>
    </form>
    <!--列表组件-->

    <app-list #child [initDate]="data" [configTitle]="configTitle" [showAdd]="showAdd" [isPagination]="isPagination"  [buttons] ='buttons' (addCreat)="addHandler($event)" (buttonData)="buttonDataHandler($event)" (pageNumber)="monitorHandler($event)"
              (deleatData)="deleatData($event)" (isActive)="isActive($event)" (buttonEvent)="buttonEvent($event)" (selectedRow)="selectedRow($event)" [headerDate]="headerDate"
              [moreData]="moreData" [total]="total"  [pageTotal] = 'pageTotal' >
    </app-list>
</nz-card>

<!-- 核对合并清单 -->
<nz-modal [nzVisible]="checkModalVisible"  [nzWidth]="1024" [nzTitle]="'核对合并清单'"   [nzContent]="dictModals"
          (nzOnCancel)="checkModalVisible=false" (nzOnOk)="saveCheck()">
    <ng-template #dictModals>
        <div nz-row [nzType]="'flex'" [nzJustify]="'start'" [nzGutter]="24">
            <div nz-col [nzSpan]="24" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label for="itemType">与运行环境</label></div>
                    <div nz-form-control class="flex-1">
                        <div nz-col [nzSpan]="24" class="mb-md" *ngFor="let s of elementScice ;let l = index">
                            <div nz-col [nzSpan]="6">
                                <label  nz-checkbox    [(ngModel)]="s.check" (ngModelChange)="onChange(s.guid)">&nbsp;&nbsp;<span>{{s.profilesName}}</span></label>
                            </div>
                            <div nz-col [nzSpan]="18">
                                <div nz-col [nzSpan]="6" *ngFor="let t of s.Timing; let d = index" >
                                    <input style="margin-top: 10px;" [disabled]="!s.check"   [(ngModel)]="s.times"   [value]="t.time"   [name]="s.profilesName"
                                           type="radio" />&nbsp;{{t.time}}
                                </div>
                            </div>
                        </div>
                        <div nz-form-label><label for="itemType">的发版分支进行核对！</label></div>
                    </div>
                </div>
            </div>

        </div>
    </ng-template>
</nz-modal>


<!-- 比对  修改，可能改成list形式-->
<nz-modal [nzVisible]="checkListVisible"  [nzWidth]="1000" [nzTitle]="'清单核对'"   [nzContent]="checkModal"
          (nzOnCancel)="checkListVisible=false" (nzOnOk)="checkSave()" >
    <ng-template #checkModal>
        <div nz-row [nzType]="'flex'" [nzJustify]="'start'" [nzGutter]="24"  >
            <table #basicTable style="margin:30px 0px;">
                <thead>
                <tr>
                    <th>开发人员</th>
                    <th>代码</th>
                    <th>合并时间</th>
                    <th>变动类型</th>
                    <th>编译为</th>
                    <th>最新版本</th>
                    <th>描述</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let j of mergeListData">
                    <td>{{j.author }}</td>
                    <td>{{j.fullPath}}</td>
                    <td>{{j.mergeDate  | date:'yyyy-MM-dd'}}</td>
                    <td>{{j.mergeType}}</td>
                    <td>{{j.partOfProject}}</td>
                    <td>{{j.mergeVersion}}</td>
                    <td nzType="vertical">{{j.developerConfirm}}</td>
                </tr>
                </tbody>
            </table>

        </div>
        <div nz-row [nzType]="'flex'" [nzJustify]="'start'" [nzGutter]="24"  *ngFor="let j of checkModalData">
            <div nz-col [nzSpan]="24" class="mb-md">
                <div  nz-form-item class="d-flex">
                    <h2>{{j.delivery.guidWorkitem.target}}</h2>
                </div>
            </div>

            <div nz-col [nzSpan]="6" class="mb-md">
                <div  nz-form-item class="d-flex">
                    <div class="ad-desc-list__term ng-star-inserted">投放计划:</div>
                    <div class="ad-desc-list__detail ng-star-inserted">{{j.delivery.deliveryTime | date:'yyyy-MM-dd'}}</div>
                </div>
            </div>
            <div nz-col [nzSpan]="6" class="mb-md">
                <div  nz-form-item class="d-flex">
                    <div class="ad-desc-list__term ng-star-inserted">{{j.delivery.guidProfiles.target}}</div>
                    <div class="ad-desc-list__detail ng-star-inserted">{{j.delivery.applyAlias}}</div>
                </div>
            </div>

            <!--<div nz-col [nzSpan]="14" class="mb-md">-->
                <!--<div  nz-form-item class="d-flex">-->
                    <!--<div class="ad-desc-list__term ng-star-inserted">Release分支:</div>-->
                    <!--<div class="ad-desc-list__detail ng-star-inserted">http://10.232.84.99/svn/repos/tip/release/SIT</div>-->
                <!--</div>-->
            <!--</div>-->


            <div nz-col [nzSpan]="16" class="mb-md">
                <div  nz-form-item class="d-flex">
                    <div class="ad-desc-list__term ng-star-inserted">工作项:</div>
                    <div class="ad-desc-list__detail ng-star-inserted">{{j.delivery.guidWorkitem.target}}</div>
                </div>
            </div>


            <div nz-col [nzSpan]="12" class="mb-md">
                <div  nz-form-item class="d-flex">
                    <div class="ad-desc-list__term ng-star-inserted">申请人:</div>
                    <div class="ad-desc-list__detail ng-star-inserted">{{j.delivery.proposer}}</div>
                </div>
            </div>

            <div  nz-col [nzSpan]="24" class="mb-md" *ngFor="let s of j.detailList ; let l = index">
                    <div>
                        <table style="margin:30px 0px;" *ngFor="let k of s.deliveryPatchDetails">
                            <tbody nz-col [nzSpan]="24" style="text-align: center;" >
                            <tr nz-col [nzSpan]="24">
                                <td nz-col [nzSpan]="8">工程名</td>
                                <td nz-col [nzSpan]="16">{{s.projectName}}</td>
                            </tr>

                            <tr nz-col [nzSpan]="24">
                                <td nz-col [nzSpan]="8">编译为</td>
                                <td nz-col [nzSpan]="16">{{k.deployWhere}}</td>
                            </tr>
                            <tr nz-col [nzSpan]="24">
                                <td nz-col [nzSpan]="8">部署到</td>
                                <td nz-col [nzSpan]="16">{{k.patchType }}</td>
                            </tr>
                            <tr nz-col [nzSpan]="24">
                                <td nz-col [nzSpan]="15">代码</td>
                                <td nz-col [nzSpan]="3">变动类型</td>
                                <td nz-col [nzSpan]="3">最新版本</td>
                                <td nz-col [nzSpan]="3">开发人员</td>
                            </tr>
                            <tr nz-col [nzSpan]="24"  *ngFor="let x of k.fileList">
                                <td nz-col [nzSpan]="15">{{x.fullPath}}</td>
                                <td nz-col [nzSpan]="3">{{x.commitType}}</td>
                                <td nz-col [nzSpan]="3">{{x.deliveryVersion}}</td>
                                <td nz-col [nzSpan]="3">{{x.author}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
            </div>


            <div  nz-col [nzSpan]="24" class="mb-md">
                    <button  nz-col [nzSpan]="4"  [nzOffset]="'3'" nz-button  (click)="returns(j.delivery.guid,0)"  [nzType]="'primary'" [nzSize]="'large'">
                        <span>打回</span>
                    </button>

                    <button   nz-col  [nzSpan]="4"  [nzOffset]="'3'" nz-button  (click)="returns(j.delivery.guid,1)"  [nzType]="'primary'" [nzSize]="'large'">
                        <span>成功</span>
                    </button>
                    <!--<button  nz-col [nzSpan]="4"  [nzOffset]="'3'"  nz-button  (click)="errors()"  [nzType]="'primary'" [nzSize]="'large'">-->
                        <!--<span>失败</span>-->
                    <!--</button>-->
            </div>
        </div>

    </ng-template>
</nz-modal>

<nz-modal  [nzVisible]="istextVisible"  (nzOnCancel)="istextVisible=false" [nzTitle]="modaltextTitle" [nzContent]="modaltextTitle" [nzFooter]="modalFooter">
    <!--<ng-template #modaltextTitle>-->
        <textarea row="4"  [(ngModel)]="inputValue"></textarea>
        <button (click)="returns(guid,1)">点我</button>
    <!--</ng-template>-->
</nz-modal>

<!-- 打印-->
<nz-modal [nzVisible]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter">
    <ng-template #modalTitle>
        导出投放清单
    </ng-template>
    <ng-template #modalContent>
        <div nz-col [nzSpan]="24" class="mb-md">
            <div *ngIf="!workItem" nz-form-item class="d-flex">
                <div nz-form-label><label for="itemType">请选要导出清单的运行环境:</label></div>
                <div nz-form-control class="flex-1">
                    <nz-radio-group [(ngModel)]="deliverItem.environment">
                              <span  *ngFor="let i of environment;" >
                                    <label  nz-radio   [nzValue]='i.key' class="radio">
                                        <span>{{i.text}}</span>
                                    </label>
                                </span>
                    </nz-radio-group>
                </div>
            </div>

            <div  *ngIf="workItem" nz-form-item class="d-flex">
                <div nz-form-label><label for="itemType">请选择要投放的工作项:</label></div>
                <div nz-form-control class="flex-1">
                    <nz-checkbox-group [(ngModel)]="checkOptionsOne"></nz-checkbox-group>
                </div>
            </div>


        </div>
    </ng-template>
    <ng-template #modalFooter>
        <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="isVisible=false">
            取消
        </button>
        <button nz-button *ngIf="!workItem"  [nzType]="'primary'" [nzSize]="'large'" (click)="workItem = true">
            下一步
        </button>
        <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="handleOk($event)">
            确定
        </button>
    </ng-template>
</nz-modal>


<nz-modal [nzVisible]="mergeisVisible"  [nzWidth]="1024" [nzTitle]="'合并投放 请指定投放日期和环境'"   [nzContent]="dictModal"
          (nzOnCancel)="mergeisVisible=false" (nzOnOk)="savemergeisInfo()">
    <ng-template #dictModal>
        <div nz-row [nzType]="'flex'" [nzJustify]="'start'" [nzGutter]="24">
            <div nz-col [nzSpan]="12" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label class="alignment"><label for="no">投放日期</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-datepicker [(ngModel)]="deliveryTime" [nzFormat]="'YYYY-MM-DD'"    name="deliveryTime" [nzSize]="'large'" [nzPlaceHolder]="'投放日期'" nzId="deliveryTime" class="d-block"></nz-datepicker>
                    </div>
                </div>
            </div>

            <div nz-col [nzSpan]="24" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label for="itemType">投放到:</label></div>
                    <div nz-form-control class="flex-1">
                        <div nz-col [nzSpan]="24" class="mb-md" *ngFor="let s of elementScice ;let l = index">
                            <div nz-col [nzSpan]="6">
                                <label  nz-checkbox  [(ngModel)]="s.check">&nbsp;&nbsp;<span>{{s.profilesName}}</span></label>
                            </div>
                            <div nz-col [nzSpan]="18">
                                <div nz-col [nzSpan]="6" *ngFor="let t of s.Timing; let d = index" >
                                    <input style="margin-top: 10px;" [disabled]="!s.check"   [(ngModel)]="s.times"   [value]="t.time"   [name]="s.profilesName"
                                           type="radio" />&nbsp;{{t.time}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--     <div nz-col [nzSpan]="24" class="mb-md">
                     <div nz-form-item class="d-flex">
                         <div nz-form-label><label for="itemDesc">投放说明:</label></div>
                         <div nz-form-control class="flex-1">
                             <nz-input [(ngModel)]="deliveryDesc"  nzAutosize=true nzType="textarea" name="deliveryDesc" [nzSize]="'large'" [nzPlaceHolder]="'投放说明'" nzId="deliveryDesc"></nz-input>
                         </div>
                     </div>
                 </div>-->


        </div>
    </ng-template>
</nz-modal>



<!--合并投放-->
<nz-modal [nzVisible]="mergeVisible"  [nzWidth]="1024" [nzTitle]="'工作项投放申请'"  [nzContent]="mergeModal"
          (nzOnCancel)="mergeVisible=false" (nzOnOk)="checkSave()">
    <ng-template #mergeModal>
        <div nz-row [nzType]="'flex'" [nzJustify]="'start'" [nzGutter]="24">
            <div nz-col [nzSpan]="24" class="mb-md">
                <div nz-col [nzSpan]="1"  nz-form-item class="d-flex">
                    <div class="ad-desc-list__term ng-star-inserted">将:</div>
                </div>
            </div>

            <div nz-col [nzSpan]="23"  class="mb-md" *ngFor="let s of mergeListInfo ;let l = index">
                <div nz-col [nzSpan]="23"  nz-form-item class="d-flex">
                    <div>{{s.guidWorkitem}} &nbsp; {{s.deliveryTime}}&nbsp;  {{s.guidProfiles}} </div>
                </div>
            </div>

            <div nz-col [nzSpan]="23" [nzOffset]="1"   class="mb-md">
                <div nz-col [nzSpan]="23"  nz-form-item class="d-flex">
                    <div>共{{mergeListInfo.length}}次投放申请，合并为以下投放申请</div>
                </div>
            </div>
            <div nz-col [nzSpan]="8" class="mb-md">
                <div  nz-form-item class="d-flex">
                    <div class="ad-desc-list__term ng-star-inserted">投放计划:</div>
                    <div class="ad-desc-list__detail ng-star-inserted">{{deliveryTime}}</div>
                </div>
            </div>
            <div nz-col [nzSpan]="24" class="mb-md" *ngFor="let s of profiles ; let l = index">
                <div  nz-form-item class="d-flex" >
                    <div nz-col [nzSpan]="6"   class="ad-desc-list__term ng-star-inserted" >{{s.profilesName}}</div>
                    <div  nz-col [nzSpan]="6"  class="ad-desc-list__detail ng-star-inserted"> {{s.name}}</div>
                </div>
            </div>
            <div nz-col [nzSpan]="24" class="mb-md">
                <div  nz-form-item class="d-flex">
                    <div class="ad-desc-list__term ng-star-inserted">工作项</div>
                    <div   class="ad-desc-list__detail ng-star-inserted" *ngFor="let s of mergeListInfo ; let l = index" >{{s.guidWorkitem}}
                    </div>
                </div>
            </div>

            <div nz-col [nzSpan]="8" class="mb-md">
                <div  nz-form-item class="d-flex">
                    <div class="ad-desc-list__term ng-star-inserted">申请人:</div>
                    <div class="ad-desc-list__detail ng-star-inserted" >{{userName}}</div>
                </div>
            </div>
            <div nz-col [nzSpan]="24" class="mb-md">
                <div  nz-form-item class="d-flex">
                    <div class="ad-desc-list__term ng-star-inserted">开发分支:</div>
                    <div class="ad-desc-list__detail ng-star-inserted" *ngFor="let s of branches ; let l = index">{{s.fullPath}}</div>
                </div>
            </div>
            <div nz-col [nzSpan]="24" class="mb-md">
                <div  nz-form-item class="d-flex">
                    <div class="ad-desc-list__term ng-star-inserted">投放小计:</div>
                    <!--<div class="ad-desc-list__detail ng-star-inserted">jar包数 :2个</div>-->
                    <div class="ad-desc-list__detail ng-star-inserted">ecd包数 :{{ patchCount.ecd }}个</div>
                    <div class="ad-desc-list__detail ng-star-inserted">epd包数 :{{ patchCount.epd }}个</div>
                </div>
            </div>

            <div nz-col [nzSpan]="24" class="mb-md">
                <div  nz-form-item class="d-flex">
                    <div class="ad-desc-list__term ng-star-inserted">投放明细:</div>
                </div>
            </div>

            <!-- 列表 -->
            <div  nz-col [nzSpan]="24" class="mb-md" *ngFor="let s of detailList ; let l = index">
                <div *ngFor="let j of s.deliveryPatchDetails">
                    <div>
                        <table style="margin:30px 0px;" >
                            <tbody nz-col [nzSpan]="24" style="text-align: center;" >
                            <tr nz-col [nzSpan]="24">
                                <td nz-col [nzSpan]="8">工程名</td>
                                <td nz-col [nzSpan]="16">{{s.projectName}}</td>
                            </tr>

                            <tr nz-col [nzSpan]="24">
                                <td nz-col [nzSpan]="8">编译为</td>
                                <td nz-col [nzSpan]="16">{{j.deployWhere}}</td>
                            </tr>
                            <tr nz-col [nzSpan]="24">
                                <td nz-col [nzSpan]="8">部署到</td>
                                <td nz-col [nzSpan]="16">{{j.patchType }}</td>
                            </tr>
                            <tr nz-col [nzSpan]="24">
                                <td nz-col [nzSpan]="15">代码</td>
                                <td nz-col [nzSpan]="3">变动类型</td>
                                <td nz-col [nzSpan]="3">最新版本</td>
                                <td nz-col [nzSpan]="3">开发人员</td>
                            </tr>
                            <tr nz-col [nzSpan]="24"  *ngFor="let k of j.fileList">
                                <td nz-col [nzSpan]="15">{{k.fullPath}}</td>
                                <td nz-col [nzSpan]="3">{{k.commitType}}</td>
                                <td nz-col [nzSpan]="3">{{k.deliveryVersion}}</td>
                                <td nz-col [nzSpan]="3">{{k.author}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>



            </div>


            <!--<div  nz-col [nzSpan]="24" class="mb-md">-->
                <!--<button   nz-col  [nzSpan]="4"  [nzOffset]="'6'" nz-button  (click)="mergeVisible=false"  [nzType]="'primary'" [nzSize]="'large'">-->
                    <!--<span>取消</span>-->
                <!--</button>-->
                <!--<button  nz-col [nzSpan]="4"  [nzOffset]="'4'"  nz-button  (click)="determine()"  [nzType]="'primary'" [nzSize]="'large'">-->
                    <!--<span>确定</span>-->
                <!--</button>-->
            <!--</div>-->

        </div>

    </ng-template>
</nz-modal>
