<!-- 样式-->
<style>
    table tr th, table tr td { border:1px solid #ccc; height: 30px;line-height: 30px}
</style>

<pro-header></pro-header>

<!--引入list组件-->
<nz-card [nzBordered]="false">
    <!--  form表单搜索 -->
    <form nz-form (ngSubmit)="search()" [nzLayout]="'inline'">
        <div nz-row  [nzType]="'flex'" [nzJustify]="'start'" [nzGutter]="24">
            <div nz-col [nzSpan]="8" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label>环境代码</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="deliverItem.guidWorkitem" name="guidWorkitem" [nzSize]="'large'" [nzPlaceHolder]="'环境代码'" nzId="guidWorkitem"></nz-input>
                    </div>
                </div>
            </div>


            <div nz-col [nzSpan]="8" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label>环境名称</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="deliverItem.proposer" name="proposer" [nzSize]="'large'" [nzPlaceHolder]="'环境名称'" nzId="proposer"></nz-input>
                    </div>
                </div>
            </div>

            <div nz-col [nzSpan]="8" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label>主机IP</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="deliverItem.proposer" name="proposer" [nzSize]="'large'" [nzPlaceHolder]="'主机IP'" nzId="proposer"></nz-input>
                    </div>
                </div>
            </div>

            <div nz-col [nzSpan]="8" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label>版本控制用户</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="deliverItem.proposer" name="proposer" [nzSize]="'large'" [nzPlaceHolder]="'版本控制用户'" nzId="proposer"></nz-input>
                    </div>
                </div>
            </div>

            <div nz-col [nzSpan]="8" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label>是否允许投放</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-select style="width:100%" [(ngModel)]="deliverItem.dliveryResult"  name="dliveryResult" [nzSize]="'large'" [nzPlaceHolder]="'是否允许投放'" nzId="dliveryResult">
                            <nz-option  *ngFor="let i of dliveryResult;" [nzLabel]="i.value" [nzValue]="i.key"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>

            <div nz-col [nzSpan]="expandForm ? 24 : 8" class="mb-md" [class.text-right]="expandForm">
                <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading" [nzSize]="'large'">查询</button>
                <button nz-button type="reset" (click)="getData()" [nzSize]="'large'" class="mx-sm">重置</button>
                <a (click)="expandForm=!expandForm">
                    {{expandForm ? '收起' : '展开'}}
                    <i class="anticon" [class.anticon-down]="!expandForm" [class.anticon-up]="expandForm"></i>
                </a>
            </div>
        </div>
    </form>
    <!--列表组件-->

    <app-list #child [initDate]="data" [configTitle]="configTitle"  [showAdd]="showAdd" [isPagination]="isPagination" [isShowTotal]="isShowTotal"  [buttons] ='buttons' (addCreat)="addHandler($event)" (buttonData)="buttonDataHandler($event)" (pageNumber)="monitorHandler($event)"
              (deleatData)="deleatData($event)" (isActive)="isActive($event)" (buttonEvent)="buttonEvent($event)" (selectedRow)="selectedRow($event)" [headerDate]="headerDate"
              [moreData]="moreData" [total]="total" (getStatus)="getStatus($event)"  [pageTotal] = 'pageTotal'></app-list>
</nz-card>


<nz-modal [nzVisible]="isCancel"  [nzWidth]="800" [nzTitle]="Ptitle"  [nzConfirmLoading]="false" [nzContent]="isCancelModal"
          (nzOnCancel)="isCancel=false" (nzOnOk)="saveCorrelation('Q')">
    <ng-template #isCancelModal>
        <div nz-row [nzGutter]="24">
            <div  nz-col [nzSpan]="24" class="mb-md">

            </div>

        </div>

    </ng-template>
</nz-modal>
<nz-modal [nzVisible]="isCorrelation"  [nzWidth]="800" [nzTitle]="Ptitle"  [nzConfirmLoading]="false" [nzContent]="correlationModal"
          (nzOnCancel)="isCorrelation=false" (nzOnOk)="saveCorrelation('C')">
    <ng-template #correlationModal>
        <div nz-row [nzGutter]="24">
            <div  nz-col [nzSpan]="24" class="mb-md">
                <div  nz-col [nzSpan]="4" style="line-height:2"><label for="status">开发分支</label></div>

                <nz-select  nz-col [nzSpan]="12"  [(ngModel)]="branch"  nzId="status" [nzPlaceHolder]="'分支类型'" [nzShowSearch]="true" [nzSize]="'large'">
                    <nz-option *ngFor="let i of branshList; let idx = index" [nzLabel]="i.branchFor" [nzValue]="i.guid"></nz-option>
                </nz-select>
            </div>
        </div>

    </ng-template>
</nz-modal>
<nz-modal [nzVisible]="mergeVisible"  [nzWidth]="800" [nzTitle]="Ptitle"  [nzConfirmLoading]="false" [nzContent]="mergeModal"
          (nzOnCancel)="mergeVisible=false" [nzFooter]="is">
    <ng-template #mergeModal>
        <form nz-form (ngSubmit)="submitForm()" [nzLayout]="'inline'">
            <div nz-row [nzGutter]="24">

                <div  nz-col [nzSpan]="24" class="mb-md">
                    <div nz-form-item class="d-flex">
                        <div nz-form-label nz-col [nzSpan]="8" ><label for="status"> 环境名称</label></div>
                        <div nz-form-control class="flex-1">
                            <nz-input [(ngModel)]="profiles.profilesName" name="profilesName" [nzSize]="'large'" [nzPlaceHolder]="'环境名称'" nzId="profilesName"></nz-input>
                        </div>
                    </div>
                </div>

                <!--<div  nz-col [nzSpan]="24" class="mb-md">
                   <div nz-form-item class="d-flex">
                       <div nz-form-label nz-col [nzSpan]="8" ><label for="status">分支</label></div>
                       <div nz-form-control class="flex-1">
                           <nz-select [(ngModel)]="profiles.branch" name="status" nzId="status" [nzPlaceHolder]="'分支类型'" [nzShowSearch]="true" [nzSize]="'large'">
                               <nz-option *ngFor="let i of branchList; let idx = index" [nzLabel]="i.branchFor" [nzValue]="i.guid"></nz-option>
                           </nz-select>
                       </div>
                   </div>
               </div>-->

                <div nz-col [nzSpan]="24" class="mb-md">
                    <div nz-form-item class="d-flex">
                        <div nz-form-label nz-col [nzSpan]="8"><label for="name">   主机IP</label></div>
                        <div nz-form-control class="flex-1">
                            <nz-input [(ngModel)]="profiles.hostIp" name="hostIp" [nzSize]="'large'" [nzPlaceHolder]="'主机IP'" nzId="hostIp"></nz-input>
                        </div>
                    </div>
                </div>

                <div nz-col [nzSpan]="24" class="mb-md">
                    <div nz-form-item class="d-flex">
                        <div nz-form-label nz-col [nzSpan]="8"><label for="name">  安装路径</label></div>
                        <div nz-form-control class="flex-1">
                            <nz-input [(ngModel)]="profiles.installPath" name="installPath" [nzSize]="'large'" [nzPlaceHolder]="'安装路径'" nzId="installPath"></nz-input>
                        </div>
                    </div>
                </div>

                <div nz-col [nzSpan]="24" class="mb-md">
                    <div nz-form-item class="d-flex">
                        <div nz-form-label nz-col [nzSpan]="8"><label for="name">版本密码</label></div>
                        <div nz-form-control class="flex-1">
                            <nz-input [(ngModel)]="profiles.csvPwd" name="csvPwd" [nzSize]="'large'" [nzPlaceHolder]="'版本密码'" nzId="csvPwd"></nz-input>
                        </div>
                    </div>
                </div>

                <div nz-col [nzSpan]="24" class="mb-md">
                    <div nz-form-item class="d-flex">
                        <div nz-form-label nz-col [nzSpan]="8"><label for="name">版本控制用户</label></div>
                        <div nz-form-control class="flex-1">
                            <nz-input [(ngModel)]="profiles.csvUser" name="csvUser" [nzSize]="'large'" [nzPlaceHolder]="'版本控制用户'" nzId="csvUser"></nz-input>
                        </div>
                    </div>
                </div>

                <div nz-col [nzSpan]="24" class="mb-md">
                    <div nz-form-item class="d-flex">
                        <div nz-form-label nz-col [nzSpan]="8"><label for="name">环境管理人员</label></div>
                        <div nz-form-control class="flex-1">
                            <nz-input [(ngModel)]="profiles.manager" name="manager" [nzSize]="'large'" [nzPlaceHolder]="'环境管理人员'" nzId="manager"></nz-input>
                        </div>
                    </div>
                </div>



                <div nz-col [nzSpan]="24" class="mb-md">
                    <div nz-form-item class="d-flex">
                        <div nz-form-label nz-col [nzSpan]="8"><label for="name">打包窗口</label></div>
                        <div nz-form-control class="flex-1">
                            <nz-checkbox-group [(ngModel)]="profiles.checkOptionsOne"  [ngModelOptions]="{standalone: true}"></nz-checkbox-group>

                        </div>
                    </div>
                </div>

                <div nz-col [nzSpan]="12" [nzOffset]="10" class="mb-md" [class.text-right]="expandForm">
                    <button nz-button type="submit" [nzType]="'primary'" [nzSize]="'large'">确定</button>
                    <button nz-button type="reset" (click)="mergeVisible=false" [nzSize]="'large'" class="mx-sm">取消</button>
                </div>
            </div>
        </form>
    </ng-template>
</nz-modal>



